
@{
    ViewBag.Title = "Bio";
}

<div class="header">
    @Html.ActionLink("Index", "Index", "Portfolio")
    @Html.ActionLink("Projects", "Projects", "Portfolio")
    @Html.ActionLink("Education", "Education", "Portfolio")
    @Html.ActionLink("Reference", "Reference", "Portfolio")
</div>
<h1>Bio</h1>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>Field</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Father's Name</td>
            <td>@Model.fName</td>
        </tr>
        <tr>
            <td>Mother's Name</td>
            <td>@Model.mName</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>@Model.Gender</td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>@Model.Dob</td>
        </tr>
        <tr>
            <td>Religion</td>
            <td>@Model.Religion</td>
        </tr>
    </tbody>
</table>
