
@{
    ViewBag.Title = "Education";
}

<div class="header">
    @Html.ActionLink("Index", "Index", "Portfolio")
    @Html.ActionLink("Bio", "Bio", "Portfolio")
    @Html.ActionLink("Projects", "Projects", "Portfolio")
    @Html.ActionLink("Reference", "Reference", "Portfolio")
</div>
<h1>Education</h1>




<table class="table table-bordered">
    <tr>
        <th>Exam</th>
        <th>GPA</th>
        <th>Passing Year</th>
        <th>Institution</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Exam</td>
            <td>@item.Gpa</td>
            <td>@item.PassingYear</td>
            <td>@item.Institution</td>
        </tr>
    }
</table>