
@{
    ViewBag.Title = "Index";
}
<div class="header">
    @Html.ActionLink("Bio", "Bio", "Portfolio")
    @Html.ActionLink("Projects", "Projects", "Portfolio")
    @Html.ActionLink("Education", "Education", "Portfolio")
    @Html.ActionLink("Reference", "Reference", "Portfolio")
</div>
<br />
<br />

<h3>@ViewBag.welcome</h3><br />
<h4> I am <strong>@ViewBag.name</strong></h4>
<p> @ViewBag.outro1</p>
<p>@ViewBag.outro2</p>

<br />
<br />

<a class="btn btn-outline-success" href="https://github.com/mubtasin97">Github</a>
