
@{
    ViewBag.Title = "Projects";
}

<div class="header">
    @Html.ActionLink("Index", "Index", "Portfolio")
    @Html.ActionLink("Bio", "Bio", "Portfolio")
    @Html.ActionLink("Education", "Education", "Portfolio")
    @Html.ActionLink("Reference", "Reference", "Portfolio")
</div>
<h1>Projects</h1>
<table class="table table-bordered">
    <tr>
        <th>Course</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Course</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
        </tr>
    }
</table>